* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #8e8e8e;
  --mainLightColor: #ddd;
  --headingPrimaryColor: #7363ff;
  --headingSecondaryColor: #b3b3ff;
  --buttonColor: #6d6db3;
  --containerMainColor: #00000070;
  --containerSecondaryColor: #ffffff0d;
  --containerTertiaryColor: #ffffff1c;
  --homeBGColor1: #221f33;
  --homeBGColor2: #110f1a;
  --BGColor: #1c1c1c;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  color: var(--mainColor);
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  font-family: "open sans";
  background-color: var(--BGColor);
  overflow-x: hidden;
}

body {
  transition: 0.6s ease-in;
  transition-property: color, background-color;
}

div {
  z-index: 2;
}

section {
  margin: 0 0 1rem 0;
  min-height: 100vh;
  min-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 3rem;
  color: var(--headingPrimaryColor);
  font-family: "source sans pro";
  font-weight: 500;
  text-align: center;
  padding: 2rem 0;
}

h2 {
  font-size: 2rem;
  color: var(--headingSecondaryColor);
  padding: 0 0 0.3em 0;
}

strong {
  font-weight: 500;
  color: var(--mainLightColor);
}

section {
  box-shadow: 0px 5px 10px -3px rgba(0, 0, 0, 0.51);
  padding: 1rem 0;
}

p {
  font-weight: 100;
  font-family: "open sans";
}

li {
  list-style: none;
}

a,
button {
  font-family: "source sans pro";
  text-decoration: none;
  font-size: 1rem;
  color: var(--headingPrimaryColor);
  transition: 0.2s ease;
  transition-property: filter, transform, text-decoration;
}

a:hover,
button:hover {
  filter: brightness(2);
  text-decoration: underline;
}

code {
  background-color: var(--BGColor);
  padding: 1px 5px;
}

/* header */

header {
  z-index: 10;
}

header .themes {
  align-self: center;
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
  margin-left: auto;
}

header .themes div {
  margin: 0 0.5rem 0 0;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s ease-in;
  transition-property: transform, filter;
}

.themes div:hover {
  filter: brightness(1.5);
  transform: scale(1.2);
}

.themes .dark {
  background-color: #7363ff;
}

.themes .light {
  background-color: #ddd;
}

.themes .pink {
  background-color: hotpink;
}

.themes .orange {
  background-color: orange;
}

header .menu {
  position: fixed;
  top: 1%;
  right: 1%;
  cursor: pointer;
  z-index: 15;
  opacity: 0;
  pointer-events: none;
  clip-path: none;
}

header .menu:hover {
  filter: brightness(3);
}

header .menu div {
  background-color: var(--mainLightColor);
  border-radius: 10px;
  width: 30px;
  height: 4px;
}

header .menu .top {
  margin-bottom: 0.3rem;
}

header .menu .bottom {
  margin-top: 0.3rem;
}

/* navbar */

header nav {
  background-color: var(--containerMainColor);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.13);
  min-height: 3rem;
  padding: 0 2rem;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

header nav .logo {
  position: relative;
  display: inline-block;
}

header nav .logo .logo-img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  object-position: center;
  object-fit: cover;
  border-radius: 50%;
  border: var(--headingSecondaryColor) 2px solid;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav ul li {
  margin: 5px;
}

nav a {
  font-size: 1.2rem;
}

header nav ul .resumeButton {
  filter: brightness(1.5);
  font-weight: 800;
}

/* Home */

#home {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  background: linear-gradient(45deg, var(--homeBGColor1), var(--homeBGColor2));
  position: relative;
}

#home .home-left-container {
  grid-column: 2/-1;
  grid-row: 2/3;
  padding: 2rem;
  border-radius: 5px;
  color: var(--mainLightColor);
  background-color: var(--containerSecondaryColor);
}

#home .img-container {
  margin: 1rem 0;
  clip-path: circle(50% at 50% 50%);
  position: relative;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}
#home .img-container img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

#home .home-left-container .text-container * {
  font-weight: 400;
  padding-left: 1rem;
}

#home h1 {
  color: var(--headingPrimaryColor);
  width: max-content;
  background: linear-gradient(
    90deg,
    var(--headingPrimaryColor),
    var(--headingSecondaryColor)
  );
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: left;
  margin: 0.5rem 0;
  padding: 0;
  font-size: 4rem;
}

#home .home-left-container div a {
  color: var(--mainLightColor);
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 100%;
  max-width: max-content;
  margin-top: 2rem;
  border-radius: 5px;
  padding: 0.6rem 1.4rem;
  background-color: var(--buttonColor);
}

#home .home-left-container div a:hover {
  filter: contrast(2);
  transform: scale(0.98);
}

/* projects */

#projects {
  width: 100vw;
}

#projects .projects-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  justify-items: center;
  align-items: center;
  gap: 6rem;
  max-width: 1200px;
  margin: 0 auto;
}

#projects h1 {
  margin-bottom: 1rem;
}

#projects .project {
  padding: 0 0 2rem 0;
  max-width: 300px;
  width: 100%;
  height: 100%;
  background-color: var(--containerMainColor);
  border-radius: 5px;
  -webkit-box-shadow: 5px 3px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 5px 3px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 3px 5px 0px rgba(0, 0, 0, 0.25);
  transition: 0.3s cubic-bezier(0, 1, 1, 1.39);
  transition-property: box-shadow, transform;
}

#projects .project:hover {
  -webkit-box-shadow: 22px 22px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 22px 22px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 22px 22px 5px 0px rgba(0, 0, 0, 0.25);
  transform: translateY(3px);
}

#projects .project .img-container {
  width: 100%;
}

#projects .img-container img {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 200px;
}

#projects .img-container .alignBottom {
  object-position: bottom;
}

#projects .project .text-container {
  text-align: center;
  font-size: 0.8rem;
}

#projects .text-container h4 {
  font-size: 1.8rem;
  padding: 1rem 0 0.5rem 0;
  color: var(--headingSecondaryColor);
}

#projects .text-container p {
  padding: 0 1rem;
}
/* skills */

#skills {
  text-align: center;
}

#skills .skills-container .skill {
  font-weight: 100;
  color: var(--mainLightColor);
  background-color: var(--containerSecondaryColor);
  padding: 2rem;
  width: 50%;
  max-width: 500px;
  margin: 2rem auto;
  border-radius: 5px;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.31);
}

#skills .skills-container .skill h2 {
  padding: 0 0 0.3em 0;
}

#skills .skills-container .skill .icons {
  opacity: 1;
  margin: 1rem 0;
}

#skills .skills-container .skill .icons i {
  margin: 0 4px;
}

/* about */

#about {
  text-align: center;
}

#about p {
  margin: 0 auto;
  padding: 0.4rem 0;
}

#about .card,
#contact .card {
  width: 60%;
  margin: 0 auto 2rem auto;
  max-width: 700px;
  border-radius: 5px;
  padding: 2rem;
  background-color: var(--containerSecondaryColor);
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.31);
}

#about .about-container {
  margin: 0 auto 2rem auto;
}

#about h2 {
  text-align: start;
  padding-left: 2rem;
}

/* contact */

#contact {
  box-shadow: none;
  text-align: center;
}

#contact .social-links {
  width: 80%;
}

#contact i {
  color: var(--headingPrimaryColor);
  margin: 0 5px;
}

#contact .email-text {
  padding: 0.4rem 1.5rem;
  margin: 0 auto;
  border-radius: 5px;
  background: #000000;
  width: max-content;
  max-width: 70%;
  transition: 0.3s ease-in-out;
  transition-property: translate, width;
}

#contact .email-text .email {
  margin: 0 auto;
  cursor: pointer;
  background: #000000;
  border: none;
  outline: none;
  color: #fff;
  width: 12rem;
  display: block;
  text-align: center;
  font-size: 1rem;
}

#contact .infoContainer {
  position: relative;
  width: 100vw;
  margin-top: 3.5rem;
}

#contact .infoContainer div {
  position: absolute;
  width: 100vw;
  color: var(--headingSecondaryColor);
  opacity: 0;
  filter: saturate(1);
  bottom: 0.5rem;
}

#contact .or {
  margin: 1rem auto;
}

#contact .submit-message {
  width: max-content;
  margin: 0 auto;
  font-size: 1.5rem;
  color: #b9ff99;
  padding: 1rem 3rem;
  font-weight: 500;
  border-radius: 10px;
  background-color: #05a11f;
  opacity: 0;
  filter: saturate(1);
  display: inline-block;
}

#contact form {
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
  width: 80%;
  max-width: 1000px;
  height: 500px;
  max-height: 100%;
  background-color: var(--containerSecondaryColor);
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-end;
  justify-content: space-evenly;
  box-shadow: 0px 7px 9px 0px rgba(0, 0, 0, 0.31);
}

form input,
form textarea {
  height: 3rem;
  font-family: "source sans pro";
  font-size: 1.4em;
  text-align: center;
  color: var(--mainLightColor);
  outline: none;
  border: none;
  background: none;
  border-bottom: 2px solid var(--headingPrimaryColor);
  border-radius: 5px 5px 0 0;
}

form input:hover,
form textarea:hover {
  border-bottom: 3px solid var(--headingPrimaryColor);
  filter: contrast(1.1);
}

form textarea {
  padding: 1rem;
  max-width: 400px;
  min-height: 70px;
  height: auto;
  max-height: 300px;
  width: 90%;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.116);
  overflow-x: hidden;
  overflow-y: auto;
}

form button {
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  border-radius: 15px;
  color: var(--mainLightColor);
  background-color: var(--buttonColor);
  border: none;
  outline: none;
  cursor: pointer;
}

form button:hover {
  text-decoration: none;
  filter: contrast(2);
  transform: scale(0.98);
}

/* footer */

footer {
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.157);
  padding: 1rem;
  text-align: center;
  color: var(--headingSecondaryColor);
  background-color: var(--containerTertiaryColor);
}

/* effects classes */

.toggleClipPath {
  clip-path: circle(50% at 100% 0%);
}

.toggleOpactiy {
  opacity: 0;
  pointer-events: none;
}

/* animation  */

.slideFade {
  opacity: 0;
}

@keyframes slideFade {
  from {
    transform: translateY(3rem);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(10px);
  }
  75% {
    filter: saturate(0);
  }
  to {
    opacity: 0;
    filter: saturate(0);
    transform: translateY(-15px);
  }
}

/* particles */

#particles-js {
  opacity: 0.3;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
}

/* media qureies */

@media (max-width: 768px) {
  /* navbarRules */

  header {
    z-index: 16;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--containerMainColor);
    backdrop-filter: blur(5px);
    transition: 0.3s cubic-bezier(0, 1, 0.73, 0.96);
    transition-property: clip-path;
    clip-path: circle(8% at 100% 0%);
  }

  header .menu {
    opacity: 1;
    pointer-events: all;
  }

  header nav {
    background: none;
    box-shadow: none;
    top: 8rem;
    right: 2rem;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    max-width: 150px;
    width: max-content;
    opacity: 1;
    pointer-events: all;
  }

  header nav .logo {
    margin: 0 0 2rem 0;
  }

  header nav .logo,
  header .themes {
    align-self: center;
    text-align: center;
  }

  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    align-self: center;
  }

  /* font rules  */
  html {
    font-size: 80%;
  }
}

@media (max-width: 2560px) {
  html {
    font-size: 160%;
  }
}

@media (max-width: 2000px) {
  html {
    font-size: 130%;
  }
}

@media (max-width: 1920px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 93%;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 425px) {
  #projects .projects-container .project {
    width: 70%;
  }

  html {
    font-size: 70%;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 55%;
  }
}
