:root {
  --mainColor: #8E8E8E;
  --mainLightColor: #ddd;
  --headingPrimaryColor: #f28f00;
  --headingSecondaryColor: #ffc46c;
  --buttonColor: #2a2a2a;
  --containerMainColor: rgba(0, 0, 0, 0.44);
  --containerSecondaryColor: rgba(255, 255, 255, 0.05);
  --containerTertiaryColor: rgba(255, 255, 255, 0.11);
  --homeBGColor1: #414141;
  --homeBGColor2: #000000;
  --BGColor: #1C1C1C;
}